<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>Login</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/custom.css}" rel="stylesheet">
    <meta content="#563d7c" name="theme-color">
    <style>
        body {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            padding-top: 120px;
            padding-bottom: 40px;
            background-color: #f5f5f5;
        }
    </style>
</head>
<body class="text-center">
<form class="form-signin" id="login-form">
    <div th:if="${param.badauth != null}">
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>No Matching Credential.</strong>
        </div>
    </div>
    <div th:if="${param.noauth != null}">
        <div class="alert alert-warning alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Please login first.</strong>
        </div>
    </div>
    <img class="mb-4" height="72" width="72" th:src="@{/img/zstu.svg}">
    <h1 class="h3 mb-3 font-weight-normal">仓储管理系统</h1>
    <label class="sr-only" for="loginname">雇员ID</label>
    <input autofocus class="form-control" name="loginname" id="loginname" placeholder="雇员ID" required type="text">
    <label class="sr-only" for="password">密码</label>
    <input class="form-control" id="password" name="password" placeholder="密码" required type="password">
    <button class="btn btn-lg btn-primary btn-block" type="button" onclick="onclicklogin()">登入</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2019-2020</p>
</form>
</body>

<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/popper.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>
<script type="application/javascript">
    function onclicklogin() {
        var formData = new FormData($("#login-form")[0]);
        $.ajax("/api/login", {
            type: "post",
            contentType: false,
            processData: false,
            data: formData,
            success: function (data) {
                if (data.code === 200){
                    sessionStorage.setItem("emId", data.message);
                    sessionStorage.setItem("Access-Token", data.content);
                    window.location.href = "/dashboard?Access-Token=" + data.content;
                }else if (data.code === 300){
                    window.location.href = "/login?badauth";
                } else {
                    alert("Unexpected Error");
                }
            },
            error: function (data) {
                alert("ERR AJAX" + data.content);
            }
        });
    }

    $("#loginname").keypress(function (event) {
        if (event.which === 13) {
            $("#password").focus();
        }
    })

    $("#password").keypress(function (event) {
        if (event.which === 13) {
            onclicklogin();
        }
    })
</script>
</body>
</html>